body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    display: flex;
    flex-direction: column;
    padding: 20px 28px;
    text-align: center;
    width: 20vw;
    margin: 25vh auto;
    height: auto;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 8px 12px;
    margin: 0px 0px 10px 0px;
    border: none;
    border-radius: 2px;
}
form input:focus{
    outline: none;
}
form button{
    padding: 10px 12px;
    border: none;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
}
form button:hover{
    transition: 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 22px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px -14px rgba(0,0,0,0.75);
}
#white-btn{
    background-color: aliceblue;
    color: black;
}